@import "../variables";

.info-modal-inner {
  display: flex;
  .avatar {
    width: 48px;
    margin-right: 10px;
  }
  .info-wrapper {
    .author {
      margin-bottom: 10px;
      font-size: 14px;
    }
    .hash-tags {
      margin-top: 5px;
      font-size: 11px;
      color: $secondary-text-color;
    }
  }
}