$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-text-color: white;

$divider-color: #bdbdbd;

$dark-primary-color: #7b1fa2;
$primary-color: #9c27b0;
$light-primary-color: #e1bee7;

$accent-color: #7c4dff;

$light-red-color: #fd4f4f;
$red-color: #fd3434;
$dark-red-color: #e62f2f;